* {
  margin: 0;
  padding: 0;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
}
.nav-bar .button #log-in {
  width: 90px;
  color: rgb(59, 59, 59);
  height: 40px;
  margin-right: 20px;
  font-size: 19px;
  border-radius: 20px;
  border: 0;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.nav-bar .button #log-in:hover {
  border: 2px;
  border-style: solid;
  color: rgb(243, 86, 165);
  border-color: rgb(243, 86, 165);
}
#sign-up {
  width: 90px;
  height: 40px;
  margin-right: auto;
  font-size: 19px;
  border-radius: 20px;
  border: 0;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
#sign-up:hover {
  border: 2px;
  border-style: solid;
  color: rgb(243, 86, 165);
  border-color: rgb(243, 86, 165);
}
.fa {
  display: block;
  position: absolute;
  left: 5px;
  top: 7px;
  font-size: 35px !important;
  width: 52px;
  transition: all 0.5s;
  color: rgb(116, 116, 116);
  height: 100%;
  transform: translate(225px, 0);
}

.search-button {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 450px;
  height: 52px;
}
.button {
  position: absolute;
  right: 10px;
}
.button1 {
  position: absolute;
  right: 10px;
}
#searchbox {
  display: none;
  border-radius: 8px;
  box-shadow: 0 0 10px 0.5px rgb(223, 223, 223);
  outline: grey;
  outline: 50px;
  background-color: rgb(255, 255, 255);
  border: 0;
  color: rgb(116, 116, 116);
  outline: 0;
  padding-left: 50px;
  width: 450px;
  height: 52px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
#searchbox::placeholder {
  color: rgb(116, 116, 116);
  font-size: 20px;
}
#main {
  width: 100%;
  height: 80px;
  min-height: 86px;
}
#main .header {
  width: calc(100% - 260px);
  height: 80px;
  padding-left: 260px;
  display: inline-block;
}
#main .header .food-type {
  width: 160px;
  height: 80px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 560;
  color: rgb(80, 80, 80);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-style: solid;
  border-color: transparent;
  border-bottom-width: 3px;
  outline: 0;
  cursor: pointer;
}

#main .header .food-type:nth-child(1) {
  border-bottom-color: rgb(247, 97, 71);
}
#main .header .food-type span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 80px;
}
#main .header-container:after {
  content: " ";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: rgb(172, 172, 172);
  margin-top: 5px;
}
#food-category {
  background-color: rgb(248, 248, 248);
  width: 100%;
  min-height: 100%;
  height: auto;
}
#food-category .container {
  padding-left: 260px;
  padding-top: 50px;
}
#food-category .container span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 550;
  color: rgb(54, 54, 54);
}
#food-category .container .container-content {
  width: calc(100% - 16px);
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}
#food-category .container .container-content .food-content {
  background-color: rgb(248, 248, 248);
  width: 350px;
  height: 306px;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: 20px;
  overflow: hidden;
}
#food-category .container .container-content .food-content img {
  width: 350px;
  height: 240px;
  border-radius: 8px;
}
#food-category .container .container-content .food-content .food-details {
  position: relative;
}
#food-category .container .container-content .food-content .food-name {
  display: block;
  margin: 3px;
  color: rgb(54, 54, 54);
  background-color: rgb(248, 248, 248);
  font-size: 22px;
}
#food-category .container .container-content .food-content .food-price {
  display: block;
  font-size: 18px;
  margin: 3px;
  font-weight: 510;
}
#food-category .container .container-content .food-content .button1 {
  position: absolute;
  top: 3px;
  width: 100px;
  height: 50px;
}
#food-category .container .container-content .food-content .button1 button {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  outline: 0;
  border: 0;
  background-color: #efefef;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
#food-category
  .container
  .container-content
  .food-content
  .button1
  button:hover {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(247, 97, 71);
  color: white;
  background-color: rgb(247, 97, 71);
}
.login-container {
  width: 100%;
  height: 100%;
  background-color: rgba(59, 59, 59, 0.5);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.login-container .login-box {
  width: 410px;
  height: 380px;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.login-container .login-box span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  display: block;
  color: rgb(80, 80, 80);
}
.login-container .login-box input[type="text"] {
  margin-top: 80px;
}
.login-container .login-box input {
  width: 90%;
  height: 50px;
  margin-top: 30px;
  align-self: center;
  border-radius: 8px;
  outline: 0;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(190, 190, 190);
  padding: 8px;
  font-size: 18px;
}
.login-container .login-box input:focus {
  border-color: rgb(243, 86, 165);
}
.login-container .login-box .login-form {
  margin-top: 50px;
  width: 90%;
  height: 40px;
  align-self: center;
  border-radius: 8px;
  outline: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  cursor: pointer;
}
.login-container .login-box .login-form:hover {
  border-color: rgb(247, 97, 71);
  background-color: rgb(247, 97, 71);
  color: white;
  border-width: 2px;
  border-style: solid;
}
.signup-container {
  width: 100%;
  height: 100%;
  background-color: rgba(59, 59, 59, 0.5);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.signup-container .signup-box {
  width: 410px;
  height: 450px;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.signup-container .signup-box span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  display: block;
  color: rgb(80, 80, 80);
}
.signup-container .signup-box #fullname {
  margin-top: 80px;
}
.signup-container .signup-box input {
  width: 90%;
  height: 50px;
  margin-top: 30px;
  align-self: center;
  border-radius: 8px;
  outline: 0;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(190, 190, 190);
  padding: 8px;
  font-size: 18px;
}
.signup-container .signup-box input:focus {
  border-color: rgb(243, 86, 165);
}
.signup-container .signup-box .signup-form {
  margin-top: 50px;
  width: 90%;
  height: 40px;
  align-self: center;
  border-radius: 8px;
  outline: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  cursor: pointer;
}
.signup-container .signup-box .signup-form:hover {
  border-color: rgb(247, 97, 71);
  background-color: rgb(247, 97, 71);
  color: white;
  border-width: 2px;
  border-style: solid;
}
.name-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #efefef;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  text-align: center;
  color: rgb(122, 122, 122);
  font-weight: 580;
  border-width: 1px;
  border-style: solid;

  border-color: rgb(222 222 222);
  box-shadow: 0 0 10px 1px rgb(223, 223, 223);
}
.order-container {
  width: 100%;
  height: 100%;
  background-color: rgba(59, 59, 59, 0.5);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-container .order-box {
  width: 560px;
  height: 380px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.order-container .order-box span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: rgb(49, 49, 49);
  display: block;
  text-align: center;
  margin: 20px;
}
.order-container .order-box #address {
  width: 90%;
  margin-top: 30px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-radius: 8px;
  outline: 0;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(190, 190, 190);
  padding: 8px;
  color: rgb(43, 43, 43);
}
.order-container .order-box #address:focus {
  border-color: rgb(243, 86, 165);
}
.order-container .order-box .payment-method {
  align-self: flex-start;
  margin-top: 50px;
  margin-left: 30px;
  display: block;
}
.order-container .order-box .payment-method-container {
  position: relative;
  align-self: flex-start;
  display: flex;
}
.order-container .order-box #payment-cod {
  margin: 30px;
  align-self: flex-start;
  display: inline;
  margin-top: 3px;
}
.order-container .order-box .labelcod {
  position: absolute;
  left: 70px;
  top: 0px;
  width: 180px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.order-container .order-box .payment-button {
  width: 90%;
  height: 80px;
  height: 40px;
  align-self: center;
  border-radius: 8px;
  outline: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  cursor: pointer;
}
.order-container .order-box .payment-button:hover {
  border-color: rgb(247, 97, 71);
  background-color: rgb(247, 97, 71);
  color: white;
  border-width: 2px;
  border-style: solid;
}
.order-container .order-complete-box {
  width: 560px;
  height: 380px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.order-container .order-complete-box .img-order-complete {
  margin-top: -80px;
}
.order-container .order-complete-box .order-complete {
  display: block;
  width: 95%;
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 10px;
  border-radius: 8px;
  margin-top: 45px;
  font-weight: 580;
  color: rgb(59, 59, 59);
  justify-self: center;
  background-color: rgb(99, 250, 144);
}
.order-container .order-complete-box .order-no-container {
  width: 100%;
  bottom: 0;
}
.order-container .order-complete-box .order-no-container .order-no {
  display: block;
  position: absolute;
  bottom: 2px;
  left: 10px;
}
